<!DOCTYPE html>
<html>

<head>
<title>ezquiz.com</title>
<meta name="description" content="Teste tip quiz din diferite domenii">
<link rel="stylesheet" type="text/css" href="quiz.css">
<link rel="stylesheet" type="text/css" href="profile.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="quiz.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body onload="user();">
<div id="header"><h1>ezquiz.com</h1></div>
<div id="navbar"> 
		<div id="menu">
			<a href="/quiz">Quizes</a>
			<a href="/challenge">Challenge</a>
			<a href="/top" onclick="topPlayers()">Top players</a>
			<a href="/info">Info</a>
			<% if(user !== undefined && user.admin === 1) { %>
			<a href="/modify">Adauga/Modifica</a>
			<% } %>
		</div>
		<div id="profileLog">	
			<% if(user !== undefined){ %>
                <a href="/profile" class="user"><%= user.username %></a>
                <a href="/logout" >Logout</a>
            <% } else { %>
                <a href="/signup">Sign Up</a>
                <a href="/login">Log in</a>
            <% }%>
		</div>	
</div>
<div id="mainn">
<div id="sidebar2">
	<img src="default-user.png">
	<div id="info">
		Nume: <div class="user" style="display: inline;"><%= user.username %></div><br>
		Best score:  <div id="best" style="display: inline;"></div><br>
		
	</div>
</div>
<div id="main2">
<h2> Progresul tau la
    <div id="dropdown">
        <button id="dropbtn"></button>
        <div id="dropdown-content"></div> 
    </div>
</h2>
<div id="chart"></div>
</div>
</div>
<div id="footer"></div>
</body>
</html>
